{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
  <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock css %}


{% block page_title %}
    {{month | title}} Challenge
{% endblock page_title %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1>{{ month | title }}'s Challenge</h1>
    {% if challenge_text is not None %}
        <h2>{{ challenge_text }}</h2>
    {% else %}
        <p class="fallback">There is not challenge for this month yet!</p>
    {% endif %}
{% endblock content %}
