{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock css %}
{% block page_title %} All Challenges {% endblock page_title %}

{% block content %}
{% include "challenges/includes/header.html" %}
<ul>
  {% for month in months %}
  <li>
    <a href="{% url 'monthly-challenges' month %}">{{ month | title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
