header {
  width: 100%;
  height: 5rem;
  background-color: rgb(87, 87, 87);
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, header nav:active {
    color: rgb(255, 128, 128);
}
