{% extends 'base.html' %}

{% block page_title %}
    Something went wrong - we could not find that page!
{% endblock page_title %}

{% block content %}
    <h1>We could not find that page!</h1>
    <p>Sorry, bu we could not find a matching page!</p>
{% endblock content %}