{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}My Challenges{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block css %}{% endblock css %}
  </head>
  <body>
  {% block content %}
  
  {% endblock content %}
  </body>
</html>
