h1, h2, .fallback {
    text-align: center;
    color: white;
}

h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: rgb(255, 125, 125)
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
